.all-movies-page{
  background-color: #020d18;
  .header-container{
    color:white;
    background-color: white;

  }
  .movie-id-info{
    display: flex;
    padding:40px;
  }
  .movie-id-text{
    color:white;
    padding:10px;
    margin:20px;
   .movie-title{
     text-align: justify;

   }
    .movie-overview{
      text-align: justify;
    }
    .genres-movie{
      text-align: justify;
      display: flex;
      margin:5px;
      padding:2px;


    }
    .genres-movie-item{
      padding:2px;
      margin:5px;
      border-radius: 5px;
      font-size: 14px;
      background-color: #61dafb;
      color:black;

    }
    .movie-date{
      text-align: justify;
    }
  }
  .loader {
    border: 16px solid #f3f3f3;
    justify-content: center;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}
