.Maingrid-container{
  padding:20px;
  h1{
    color:white;
    text-align: center;
  }
}
.CastingName{
  padding:20px;
  h1{
    color:white;
    text-align: center;
  }
}
.grid-container {

  padding:5px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  .grid-item {

    padding: 25px;
    margin:10px;
    color:white;
    font-size: 14px;
    text-align: center;
  }
  .movie-name span{
    color:white;
  }
  .movie-star{
    color:yellow;
  }

  .toPush{
    background-color:red;
    cursor: pointer;
    color:white;
    border-radius: 5px;
    border: #8c052b;
    font-size: 15px;
    font-family: "Apple Color Emoji";
  }
}

