$colorGr: #dcf836;
// shared styles

button{outline: none!important;}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-ExtraBold.ttf') format('truetype');
  font-style: normal;  font-weight: 900;
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Bold.ttf') format('truetype');
  font-style: normal;  font-weight: 700;
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-SemiBold.ttf') format('truetype');
  font-style: normal;  font-weight: 600;
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Medium.ttf') format('truetype');
  font-style: normal;  font-weight: 500;
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Regular.ttf') format('truetype');
  font-style: normal;  font-weight: 300;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Light.ttf') format('truetype');
  font-style: normal;  font-weight: 200;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
body{
  padding: 0; margin: 0;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 300;
  font-family: Dosis;
  background-color: #020d18;
}
a{
  text-decoration: none;
}
a, button, input, select {outline: none;}


// main styles


.popular-slider{
  background: url('../images/slider-bg2.jpg') no-repeat;
  padding: 50px 0;
  overflow: hidden;
  min-height: 500px;
}
.slider_v1{
  .slider-item{
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    .movie-info{
      width: calc(100% - 300px);
      .title-wrapper{
        .title{
          color: #ffffff;
          font-size: 60px;
          font-weight: 700;
          line-height: 60px;
          text-transform: uppercase;
          margin: 10px 0;
        }
        .subtitle{
          color: #abb7c4;
          font-size: 24px;
          line-height: 28px;
          max-width: 500px;
        }
      }
    }
    .movie-img{
      padding-left: 30px;
      width: 300px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}
.movie-statistics{
  color: #abb7c4;
  padding-left: 0;
  display: flex;
  li{
    font-size: 15px;
    margin: 5px 0;
    list-style: none;
    font-weight: 600;
    padding-right: 30px;
    span{
      margin-right: 10px;
      font-weight: 300;
    }
  }
}
.tags{
  display: flex;
  flex-wrap: wrap;
  .item{
    color: #ffffff;
    margin: 0 3px;
    padding: 3px 5px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
  }
}
.movies-list{
  background-color: #020d18;
  padding: 70px 0;
}
.movie-card{
  position: relative;
  padding: 14% 0;
  cursor: pointer;
  &:hover{
    img{
      opacity: .25;
      transition: all 0.5s ease-out;
    }
    .movie-content{
      opacity: .25;
      transition: all 0.5s ease-out;
      .movie-title{
        color: #dcf836;
      }
    }
    .read-more{
      opacity: 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
      filter: alpha(opacity=100);
      transition: all 0.5s ease;
      visibility: visible;
    }
  }
  &::after{
    box-shadow: inset -5px -50px 100px -15px #000000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
  &.default-movie-card{
    background-color: #081a2c;
    &::after{
      opacity: 0;
    }
  }
  .movie-content{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #ffffff;
    transition: all 0.5s ease;
    .movie-title{
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .vote-average{
      font-weight: 400;
      font-size: 18px;
      padding-left: 23px;
      background: url("../images/icons/star.svg") no-repeat left;
      background-size: 18px;
    }
  }
  img{
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }
  .default-mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    content: "";
    opacity: .4;
    background: url("../images/icons/video-player.svg") no-repeat center;
    background-size: 50px;
  }
  .read-more{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #dd003f;
    padding: 8px 15px;
    width: 110px;
    height: 38px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    z-index: 3;
    span{
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}

@media(max-width: 1330px){
  .movie-card{
    padding: 12% 0;
  }
}

.title-hd{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  h2{
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }
  .view-all{
    font-size: 14px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    transition: .3s ease;
    &:hover{
      color: $colorGr
    }
  }
}

.tab-links{
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 40px;
  li{
    margin-right: 20px;
    list-style: none;
    &.active{
      span{
        color: $colorGr;
      }
    }
    span{
      cursor: pointer;
      font-size: 14px;
      color: #abb7c4;
      font-weight: 700;
      text-transform: uppercase;
      transition: .3s ease;
      &:hover{
        color: $colorGr;
      }
    }
  }
}

.movie-single{
  .top-bg-wrapper{
    width: 100%;
    height: 600px;
    position: relative;
    &::after{
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }
}

.main-btn{
  background-color: #dd003f;
  padding: 12px 30px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  &:hover{
    background-color: #8c052b;
    color: rgba(255,255,255,.8);
  }
}

// responsive styles

@media (max-width: 576px) {
  .container{width: calc(100% - 40px)}
}
@media(min-width: 576px){
  .container{max-width: 530px}
}
@media(min-width: 768px){
  .container{max-width: 710px}
}
@media(min-width: 992px){
  .container{max-width: 950px}
}
@media(min-width: 1200px){
  .container{max-width: 1130px}
}
@media(min-width: 1331px){
  .container{max-width: 1250px}
}

// helpers styles

.flex--cen{display: flex; justify-content: center;}

.font-1{opacity: 1!important;}
.font-09{opacity: .9!important;}
.font-085{opacity: .85!important;}
.font-08{opacity: .8!important;}
.font-07{opacity: .7!important;}
.font-06{opacity: .6!important;}
.font-05{opacity: .5!important;}
.font-04{opacity: .4!important;}
.font-03{opacity: .3!important;}
.font-02{opacity: .2!important;}
.font-01{opacity: .1!important;}

.font-50{font-size: 40px!important;}
.font-40{font-size: 40px!important;}
.font-38{font-size: 38px!important;}
.font-36{font-size: 36px!important;}
.font-34{font-size: 34px!important;}
.font-32{font-size: 32px!important;}
.font-30{font-size: 30px!important;}
.font-28{font-size: 28px!important;}
.font-26{font-size: 26px!important;}
.font-24{font-size: 24px!important;}
.font-22{font-size: 22px!important;}
.font-20{font-size: 20px!important;}
.font-18{font-size: 18px!important;}
.font-16{font-size: 16px!important;}
.font-14{font-size: 14px!important;}
.font-12{font-size: 12px!important;}

.font-700{font-weight: 700!important;}
.font-600{font-weight: 600!important;}
.font-500{font-weight: 500!important;}
.font-300{font-weight: 300!important;}

$spaceamounts: (0, 3, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100, -10, -15, -30); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.bg-color-1{background-color: #1692bb;}
.bg-color-2{background-color: #f5b50a;}
.bg-color-3{background-color: #ec5a1a;}

// grid styles

.container{
  width: 100%;
  margin: 0 auto;
}

.row-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  .col-item{
    margin-right: 15px;
    margin-left: 15px;
  }
  &.col-1 {
    .col-item {
      width: calc(100% - 30px);
    }
  }
  &.col-2 {
    .col-item {
      width: calc(50% - 30px);
    }
  }
  &.col-3 {
    .col-item {
      width: calc(33.333% - 30px);
    }
  }
  &.col-4 {
    .col-item {
      width: calc(25% - 30px);
    }
  }
  &.col-5 {
    .col-item {
      width: calc(20% - 30px);
    }
  }
  &.col-6 {
    .col-item {
      width: calc(16.666% - 30px);
    }
  }
  &.col-7 {
    .col-item {
      width: calc(14.3% - 30px);
    }
  }
  &.col-8 {
    .col-item {
      width: calc(12.5% - 30px);
    }
  }
  &.col-9 {
    .col-item {
      width: calc(11.111% - 30px);
    }
  }
  &.col-10 {
    .col-item {
      width: calc(10% - 30px);
    }
  }
}

@media(min-width: 1500px){
  .row-wrapper{
    &.col-lg-1 {
      .col-item {
        width: calc(100% - 30px);
      }
    }
    &.col-lg-2 {
      .col-item {
        width: calc(50% - 30px);
      }
    }
    &.col-lg-3 {
      .col-item {
        width: calc(33.333% - 30px);
      }
    }
    &.col-lg-4 {
      .col-item {
        width: calc(25% - 30px);
      }
    }
    &.col-lg-5 {
      .col-item {
        width: calc(20% - 30px);
      }
    }
    &.col-lg-6 {
      .col-item {
        width: calc(16.666% - 30px);
      }
    }
    &.col-lg-7 {
      .col-item {
        width: calc(14.3% - 30px);
      }
    }
    &.col-lg-8 {
      .col-item {
        width: calc(12.5% - 30px);
      }
    }
    &.col-lg-9 {
      .col-item {
        width: calc(11.111% - 30px);
      }
    }
    &.col-lg-10 {
      .col-item {
        width: calc(10% - 30px);
      }
    }
  }
}
@media(max-width: 1330px){
  .row-wrapper{
    &.col-md-1 {
      .col-item {
        width: calc(100% - 30px);
      }
    }
    &.col-md-2 {
      .col-item {
        width: calc(50% - 30px);
      }
    }
    &.col-md-3 {
      .col-item {
        width: calc(33.333% - 30px);
      }
    }
    &.col-md-4 {
      .col-item {
        width: calc(25% - 30px);
      }
    }
    &.col-md-5 {
      .col-item {
        width: calc(20% - 30px);
      }
    }
    &.col-md-6 {
      .col-item {
        width: calc(16.666% - 30px);
      }
    }
    &.col-md-7 {
      .col-item {
        width: calc(14.3% - 30px);
      }
    }
    &.col-md-8 {
      .col-item {
        width: calc(12.5% - 30px);
      }
    }
    &.col-md-9 {
      .col-item {
        width: calc(11.111% - 30px);
      }
    }
    &.col-md-10 {
      .col-item {
        width: calc(10% - 30px);
      }
    }
  }
}
@media(max-width: 1200px){
  .row-wrapper{
    &.col-sm-1 {
      .col-item {
        width: calc(100% - 30px);
      }
    }
    &.col-sm-2 {
      .col-item {
        width: calc(50% - 30px);
      }
    }
    &.col-sm-3 {
      .mx-col-item {
        width: calc(33.333% - 30px);
      }
    }
    &.col-sm-4 {
      .mx-col-item {
        width: calc(25% - 30px);
      }
    }
    &.col-sm-5 {
      .col-item {
        width: calc(20% - 30px);
      }
    }
    &.col-sm-6 {
      .col-item {
        width: calc(16.666% - 30px);
      }
    }
    &.col-sm-7 {
      .col-item {
        width: calc(14.3% - 30px);
      }
    }
    &.col-sm-8 {
      .col-item {
        width: calc(12.5% - 30px);
      }
    }
    &.col-sm-9 {
      .col-item {
        width: calc(11.111% - 30px);
      }
    }
    &.col-sm-10 {
      .col-item {
        width: calc(10% - 30px);
      }
    }
  }
}

.movie-single{
  margin-top: 50px;
  .movie-single-inner{
    display: flex;
    position: relative;
    .movie-poster{
      height: 480px;
      width: 320px;
      min-width: 320px;
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      display: block;
      .no-photo{
        background-color: #021f3c;
        width: 100%;
        height: 100%;
        .img{
          background: url("../images/icons/film-editing.svg") no-repeat center;
          content: "";
          width: 100%;
          height: 100%;
          background-size: 60px;
        }
      }
      img{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all .3s ease;
      }
    }
    .movie-details{
      margin-left: 30px;
      flex: 1;
      .movie-title{
        color: #fff;
        font-size: 32px;
        margin-bottom: 30px;
        span{
          display: block;
          margin-bottom: 5px;
          font-size: 12px;
          font-weight: 500;
        }
      }
      .movie-description{
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 30px;
        span{
          display: block;
          margin-bottom: 5px;
          font-size: 12px;
          font-weight: 500;
        }
      }
      .movie-item{
        font-size: 15px;
        color: #fff;
        margin-bottom: 30px;
        span{
          display: block;
          margin-bottom: 5px;
          font-size: 12px;
          font-weight: 500;
        }
      }
      .movie-genres{
        list-style: none;
        padding: 0;
        margin: 0 0 30px 0;
        li{
          display: inline-block;
          color: #fff;
          background: #1692bb;
          margin-right: 10px;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 13px;
        }
      }
      .credits{
        position: relative;
        margin-bottom: 50px;
        .credits-title{
          margin-bottom: 20px;
          font-size: 20px;
          color: #fff;
          display: -ms-flexbox;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span{
            font-size: 10px;
            color: #ddd;
            margin-left: 20px;
            cursor: pointer;
            border: 1px solid #fff;
            padding: 1px 6px;
            line-height: 18px;
            border-radius: 3px;
            user-select: none;
          }
        }
        .credits-inline{
          display: flex;
          flex-wrap: wrap;
          margin-left: -15px;
          margin-right: -15px;
          .credit-item{
            padding: 0 10px;
            margin-bottom: 30px;
            width: 16.666%;
            .credit-img{
              width: 100%;
              height: 160px;
              position: relative;
              border-radius: 5px;
              overflow: hidden;
              margin-bottom: 10px;
              display: block;
              &.no-photo{
                background-color: #021f3c;
                .img{
                  background: url("../images/icons/manager.svg") no-repeat center;
                  content: "";
                  width: 100%;
                  height: 100%;
                  background-size: 60px;
                }
              }
              img{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all .3s ease;
              }
            }
            .credit-content{
              color: #fff;
              .credit-name{
                font-size: 13px;
                font-weight: 600;
                margin-bottom: 5px;
              }
              .credit-character{
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}
.movie-recommendations{
  .title{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}
.movies-list-wrapper{
  padding: 50px 0;
  .title{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}

.content-wrapper{
  padding-top: 68px;
}
header{
  background: #031629;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    .logo{
      text-decoration: none;
      display: block;
      width: 300px;
      span{
        padding: 12px 15px;
        padding-left: 0;
        border-radius: 5px;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 700;
      }
    }
  }
}
